* {
    margin: 0;
    padding: 0;
    --boardColor: red;
    --cellColor: grey;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.board {
    background-color: var(--boardColor);
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.cell {
    background-color: var(--cellColor);
    padding: 10px;
    cursor: pointer;
    font-size: 5rem;
}